<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/shopping.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            {% include 'category_menu.html.twig' %}
            {{ dump(dataArr2) }}
            <div class="search">
                <form action="">
                    <input type="text" name="search" placeholder="search" value="">
                    <input type="button" name="q" value="検索">
                </form>
            </div>
                {% if (dataArr2 | length > 0) %}
                    <div>
                        {% for value2 in dataArr2 %}
                        <div class="item">
                            <ul>
                                <li class="name">
                                    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value2.item_id}}">{{value2.item_name}}</a>
                                </li>
                                <li class="price">
                                    &yen;{{value2.price|number_format(0, '.', ',')}}
                                </li>
                                <li class="image">
                                    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value2.item_id}}">
                                    <img src="{{constant('shopping\\Bootstrap::ENTRY_URL')}}images/{{value2.image}}" alt="{{value2.item_name}}">
                                    </a>
                                </li>
                                <li class="detail">
                                    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value2.item_id}}">詳細</a>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                    <div>
                {% else %}
                <div id="item_list">
                    {% for value in dataArr %}
                        <div class="item">
                            <ul>
                                <li class="name">
                                    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">{{value.item_name}}</a>
                                </li>
                                <li class="price">
                                    &yen;{{value.price|number_format(0, '.', ',')}}
                                </li>
                                <li class="image">
                                    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
                                    <img src="{{constant('shopping\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" alt="{{value.item_name}}">
                                    </a>
                                </li>
                                <li class="detail">
                                    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">詳細</a>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
        </div>
    </body>
</html>