<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>KINU NAVI</title>
        <link href="{{constant('shop\\Bootstrap::APP_URL')}}css/sample.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="box1">
            <div class="site">
                <h1><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}list.php"> KINU NAVI </a><h1>
                <p>{{sesArr.login_id}}さんの登録編集ページ</p>
            </div>
        </div>

        <div class="box2">
            <div class="box2_inner">
                <nav class="menu">
                    <ul>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}list.php">HOME <i class="fas fa-home"></i></a></li>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}mypage.php">MYPAGE <i class="far fa-id-card"></i></a></li>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}review_list.php">REVIEW <i class="far fa-thumbs-up"></i></a></li>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}cart.php">CART <i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}logout.php">LOGOUT <i class="fas fa-sign-out-alt"></i></a></li>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}form.php">CONTACT <i class="far fa-paper-plane"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="boxA">
            <div class="box3">
                <article class="data">
                    <section>
                        <h1>登録情報編集</h1>
                        <input type="hidden" name="entry_url" id="entry_url" value="{{constant('shop\\Bootstrap::ENTRY_URL')}}">
                        <form method="post" action="cus_confirm.php">
                            <table>
                                <tr>
                                    <th>お名前(氏名)<span class="red">*</span></th>
                                    <td>
                                        <input type="text" name="family_name" value="{{dataArr.family_name}}" />
                                        <input type="text" name="first_name" value="{{dataArr.first_name}}" />
                                        {% if errArr.family_name | length > 0 %}<br><span class="red">{{ errArr.family_name }}</span>{% endif %}
                                        {% if errArr.first_name | length > 0 %}<br><span class="red">{{ errArr.first_name }}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>お名前(かな)</th>
                                    <td>
                                        <input type="text" name="family_name_kana" value="{{dataArr.family_name_kana}}" />
                                        <input type="text" name="first_name_kana" value="{{dataArr.first_name_kana}}" />
                                    </td>
                                </tr>
                                <tr> 
                                    <th>性別<span class="red">*</span></th>
                                    <td>
                                        {% for index, label in sexArr %}
                                        <input type="radio" name="sex" value="{{index}}" id="sex_{{index}}" {% if dataArr.sex == index %} checked="checked" {% endif %} >
                                        <label for="sex_{{index}}">{{label}}</label>
                                        {% endfor %}
                                        {% if errArr.sex | length > 0 %}<br><span class="red">{{errArr.sex}}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>ログインID<span class="red">*</span></th>
                                    <td>
                                        <input type="text" name="login_id" value="{{dataArr.login_id}}" />
                                        {% if errArr.login_id | length > 0 %}<br><span class="red">{{ errArr.login_id }}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>パスワード<span class="red">*</span></th>
                                    <td>
                                        <input type="password" name="pass1" value="" />
                                        {% if errArr.pass1 | length > 0 %}<br><span class="red">{{ errArr.pass1 }}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>パスワード(確認用)<span class="red">*</span></th>
                                    <td>
                                        <input type="password" name="pass2" value="" />
                                        {% if errArr.pass2 | length > 0 %}<br><span class="red">{{ errArr.pass2 }}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>生年月日<span class="red" >*</span></th>
                                    <td>
                                        <select name="year" >
                                            {% for index, label in yearArr %}
                                            <option value="{{index}}" {% if dataArr.year == index %} selected {% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>

                                        <select name="month" >
                                                {% for index, label in monthArr %}
                                                <option value="{{index}}" {% if dataArr.month == index %} selected {% endif %}>{{ label }}</option>
                                                {% endfor %}
                                        </select>

                                        <select name="day" >
                                                {% for index, label in dayArr %}
                                                <option value="{{index}}" {% if dataArr.day == index %} selected {% endif %}>{{ label }}</option>
                                                {% endfor %}
                                        </select>
                                        
                                        {% if errArr.year | length > 0 %}<br><span class ="red">{{errArr.year}}</span>{% endif %}
                                        {% if errArr.month | length > 0 %}<br><span class ="red">{{errArr.month}}</span>{% endif %}
                                        {% if errArr.day | length > 0 %}<br><span class ="red">{{errArr.day}}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>郵便番号<span class="red">*</span></th>
                                    <td>
                                        <input type="text" name="zip1" value="{{dataArr.zip1}}" id="zip1" size="3" maxlength="3" /> -
                                        <input type="text" name="zip2" value="{{dataArr.zip2}}" id="zip2" size="4" maxlength="4" /> 
                                        <input type="button" name="address_search" value="〒から住所を入力" id="address_search" />
                                        {% if errArr.zip1 | length > 0 %}<br><span class="red">{{errArr.zip1}}</span>{% endif %}
                                        {% if errArr.zip2 | length > 0 %}<br><span class="red">{{errArr.zip2}}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>住所<span class="red">*</span></th>
                                    <td>
                                        <input type="text" name="address" value="{{dataArr.address}}" id="address" size="40" />
                                        {% if errArr.address | length > 0 %}<br><span class="red">{{errArr.address}}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>メールアドレス<span class="red">*</span></th>
                                    <td>
                                        <input type="text" name="email" value="{{dataArr.email}}" size="40" />
                                        {% if errArr.email | length > 0 %}<br><span class="red">{{errArr.email}}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>電話番号<span class="red">*</span></th>
                                    <td>
                                        <input type="text" name="tel1" value="{{dataArr.tel1}}" size="6" maxlength="6" />-
                                        <input type="text" name="tel2" value="{{dataArr.tel2}}" size="6" maxlength="6" />-
                                        <input type="text" name="tel3" value="{{dataArr.tel3}}" size="6" maxlength="6" />
                                        {% if errArr.tel1 | length > 0 %}<br><span class="red">{{errArr.tel1}}</span>{% endif %}
                                        {% if errArr.tel2 | length > 0 %}<br><span class="red">{{errArr.tel2}}</span>{% endif %}
                                        {% if errArr.tel3 | length > 0 %}<br><span class="red">{{errArr.tel3}}</span>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>備考</th>
                                    <td>
                                        <textarea name="contents" rows="4" cols="40">{{dataArr.contents}}</textarea>
                                    </td>
                                </tr>
                            </table>
                            <input type="submit" name="confirm" value="編集内容確認" />
                        </form>
                    </section>
                </article>
            </div>
            <div class="box4">
                <aside class="kuchi" >
                    <h1>口コミ <i class="far fa-thumbs-up"></i></h1>
                        {% for value in reviewArr %}
                        <p>{{value.nickname}}さん &nbsp; {{value.regist_date}}<br>
                        点数:{{value.score}}点 &nbsp; {% if value.entry == '1' %}商品について{% elseif value.entry == '2'  %}配送について{% elseif value.entry == '3'  %}その他{% endif  %}<br>
                        内容: {{value.contents}}<br>
                        </p>
                        {% endfor %} 
                </aside>

                <aside class="ninki" >
                    <h1>人気商品 <i class="fas fa-crown"></i></h1>
                </aside>
            </div>
        </div>

        <div class="box5">
            <div class="box2_inner">
                <div class="copyright">
                    <p>このサイトは栃木県日光市の観光情報サイトです。鬼怒川温泉・今市・日光方面に情報提供します。</p>
                    <p>Copyright &copy; KINU NAVI</p>
                </div>
            </div>
        </div>
    </body>
</html>
