
<a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}cus_edit.php">お客様情報編集</a>
/<a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}cus_delete.php">退会</a><br>
<a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}review_list.php">口コミを見る/書く</a><br>
<a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}cart.php" > カートを見る</a><br>
<a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}logout.php" >ログアウト</a><br>