<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{constant('shop\\Bootstrap::APP_URL')}}css/shop.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="{{constant('shop\\Bootstrap::APP_URL')}}js/search.js"></script>
        <script src="{{constant('shop\\Bootstrap::APP_URL')}}js/shop.js"></script>
        <title>商品一覧</title>
    </head>
    <body>
        <h1>きぬ太商店</h1>
        <div class="header">
            <div>
                {% if sesArr.login_id | length > 0 %} {{sesArr.login_id}}さん、こんにちわ！ {% endif %}
            </div>
            <div>
                {% include 'header.html.twig' %}
            </div>
        </div>
        <div id="right">
        <h3>きぬ太商店への口コミ</h3>
        {% for value in reviewArr %}
            <div>{{value.nickname}}さん &nbsp; {{value.regist_date}}<br>
            点数:{{value.score}}点 &nbsp; {% if value.entry == '1' %}商品について{% elseif value.entry == '2'  %}配送について{% elseif value.entry == '3'  %}その他{% endif  %}<br>
            内容: {{value.contents}}<br>
            </div><br>
        {% endfor %} 
        </div>
        <div id="wrapper">
            {% include 'category_menu.html.twig' %}
            <div>
                お問い合わせは<a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}form.php">こちら</a>
            </div>
            <div class="search-area">
                <form>
                    <input type="text" id="search-text" placeholder="検索ワードを入力">
                </form>
                <div class="search-result">
                    <div class="search-result__hit-num"></div>
                    <div id="search-result__list"></div>
                </div>
            </div>
            <div id="item_list">
                {% for value in dataArr %}
                    <div class="item">
                        <ul>
                            <li class="name">
                                <a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">{{value.item_name}}</a>
                            </li>
                            <li class="price">
                                &yen;{{value.price|number_format(0, '.', ',')}}
                            </li>
                            <li class="image">
                                <a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
                                <img src="{{constant('shop\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" alt="{{value.item_name}}">
                                </a>
                            </li>
                            <li class="detail">
                                <a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">詳細</a>
                            </li>
                            <li class="cart">
                                <input type="hidden" name="entry_url" value="{{constant('shop\\Bootstrap::ENTRY_URL')}}" id="entry_url" >
                                <input type="hidden" name="item_id" id="item_id" value="{{value.item_id}}">
                                <input type="button" name="cart_in" value="ショッピングカートへ入れる" id="cart_in" >
                                {# <a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}cart.php?cart_id={{value.item_id}}">カートへ入れる</a> #}
                            </li>
                        </ul>
                    </div>
                {% endfor %}  
            </div>
        </div>
    </body>
</html>