<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script language="JavaScript" type="text/javascript" src="{{constant('shop\\Bootstrap::APP_URL')}}js/common.js"></script>
            <link href="{{constant('shop\\Bootstrap::APP_URL')}}css/shop.css" rel="stylesheet" type="text/css" />
            <title>新規会員登録</title>
        </head>
        <body>
            <div>
                <h1>新規会員登録</h1>
            </div>
            <input type="hidden" name="entry_url" id="entry_url" value="{{constant('shop\\Bootstrap::ENTRY_URL')}}">
            <form method="post" action="confirm.php">
                <table>
                    <tr>
                        <th>お名前(氏名)<span class="red">*</span></th>
                        <td>
                            <input type="text" name="family_name" value="{{dataArr.family_name}}" />
                            <input type="text" name="first_name" value="{{dataArr.first_name}}" />
                            {% if errArr.family_name | length > 0 %}<br><span class="red">{{ errArr. family_name }}</span>{% endif %}
                            {% if errArr.first_name | length > 0 %}<br><span class="red">{{ errArr. first_name }}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>お名前(かな)</th>
                        <td>
                            <input type="text" name="family_name_kana" value="{{dataArr.family_name_kana}}" />
                            <input type="text" name="first_name_kana" value="{{dataArr.first_name_kana}}" />
                        </td>
                    </tr>
                    <tr> 
                        <th>性別<span class="red">*</span></th>
                        <td>
                            {% for index, label in sexArr %}
                            <input type="radio" name="sex" value="{{index}}" id="sex_{{index}}" {% if dataArr.sex == index %} checked="checked" {% endif %} >
                            <label for="sex_{{index}}">{{label}}</label>
                            {% endfor %}
                            {% if errArr.sex | length > 0 %}<br><span class="red">{{errArr.sex}}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>ログインID<span class="red">*</span></th>
                        <td>
                            <input type="text" name="login_id" value="{{dataArr.login_id}}" />
                            次回、ログイン時に必要です。
                            {% if errArr.login_id | length > 0 %}<br><span class="red">{{ errArr.login_id }}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>パスワード<span class="red">*</span></th>
                        <td>
                            <input type="password" name="pass1" value="" />
                            次回、ログイン時に必要です。
                            {% if errArr.pass1 | length > 0 %}<br><span class="red">{{ errArr.pass1 }}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>パスワード(確認用)<span class="red">*</span></th>
                        <td>
                            <input type="password" name="pass2" value="" />
                            {% if errArr.pass2 | length > 0 %}<br><span class="red">{{ errArr.pass2 }}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>生年月日<span class="red" >*</span></th>
                        <td>
                            <select name="year" >
                                {% for index, label in yearArr %}
                                <option value="{{index}}" {% if dataArr.year == index %} selected {% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>

                            <select name="month" >
                                    {% for index, label in monthArr %}
                                    <option value="{{index}}" {% if dataArr.month == index %} selected {% endif %}>{{ label }}</option>
                                    {% endfor %}
                            </select>

                            <select name="day" >
                                    {% for index, label in dayArr %}
                                    <option value="{{index}}" {% if dataArr.day == index %} selected {% endif %}>{{ label }}</option>
                                    {% endfor %}
                            </select>
                            
                            {% if errArr.year | length > 0 %}<br><span class ="red">{{errArr.year}}</span>{% endif %}
                            {% if errArr.month | length > 0 %}<br><span class ="red">{{errArr.month}}</span>{% endif %}
                            {% if errArr.day | length > 0 %}<br><span class ="red">{{errArr.day}}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>郵便番号<span class="red">*</span></th>
                        <td>
                            <input type="text" name="zip1" value="{{dataArr.zip1}}" id="zip1" size="3" maxlength="3" /> -
                            <input type="text" name="zip2" value="{{dataArr.zip2}}" id="zip2" size="4" maxlength="4" /> 
                            <input type="button" name="address_search" value="〒から住所を入力" id="address_search" />
                            {% if errArr.zip1 | length > 0 %}<br><span class="red">{{errArr.zip1}}</span>{% endif %}
                            {% if errArr.zip2 | length > 0 %}<br><span class="red">{{errArr.zip2}}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>住所<span class="red">*</span></th>
                        <td>
                            <input type="text" name="address" value="{{dataArr.address}}" id="address" size="40" />
                            {% if errArr.address | length > 0 %}<br><span class="red">{{errArr.address}}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>メールアドレス<span class="red">*</span></th>
                        <td>
                            <input type="text" name="email" value="{{dataArr.email}}" size="40" />
                            {% if errArr.email | length > 0 %}<br><span class="red">{{errArr.email}}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>電話番号<span class="red">*</span></th>
                        <td>
                            <input type="text" name="tel1" value="{{dataArr.tel1}}" size="6" maxlength="6" />-
                            <input type="text" name="tel2" value="{{dataArr.tel2}}" size="6" maxlength="6" />-
                            <input type="text" name="tel3" value="{{dataArr.tel3}}" size="6" maxlength="6" />
                            {% if errArr.tel1 | length > 0 %}<br><span class="red">{{errArr.tel1}}</span>{% endif %}
                            {% if errArr.tel2 | length > 0 %}<br><span class="red">{{errArr.tel2}}</span>{% endif %}
                            {% if errArr.tel3 | length > 0 %}<br><span class="red">{{errArr.tel3}}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>備考</th>
                        <td>
                            <textarea name="contents" rows="4" cols="40">{{dataArr.contents}}</textarea>
                        </td>
                    </tr>
                </table>
                <div>
                    <input type="button" name="back" value="戻る" onclick="history.back(); return false;">
                    <input type="submit" name="confirm" value="登録確認" />
                </div>
            </form>
        </body>
    </html>