<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>KINU NAVI</title>
        <link href="{{constant('shop\\Bootstrap::APP_URL')}}css/shop.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        
    </body>
</html>

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>口コミ</title>
        <link href="{{constant('shop\\Bootstrap::APP_URL')}}css/sample.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="box1">
            <div class="site">
                <h1><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}list.php"> KINU NAVI </a><h1>
                <p>
                    {% if sesArr.login_id | length > 0 %} 
                        {{sesArr.login_id}}さん、こんにちは<i class="far fa-laugh"></i>
                    {% else %} 
                        ゲストさん、こんにちは<i class="far fa-laugh"></i>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="box2">
            <div class="box2_inner">
                <nav class="menu">
                    <ul>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}list.php">HOME <i class="fas fa-home"></i></a></li>
                        {% if sesArr.login_id | length == 0 %}
                            <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}login.php">LOGIN <i class="fas fa-key"></i></a></li>
                            <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}signup.php">SIGN UP <i class="fas fa-user-plus"></i></a></li>
                        {% else %}
                            <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}mypage.php">MYPAGE <i class="far fa-id-card"></i></a></li>
                        {% endif %}
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}review_list.php">REVIEW <i class="far fa-thumbs-up"></i></a></li>
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}cart.php">CART <i class="fas fa-shopping-cart"></i></a></li>
                        {% if sesArr.login_id | length > 0 %}<li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}logout.php">LOGOUT <i class="fas fa-sign-out-alt"></i></a></li>{% endif %}
                        <li><a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}form.php">CONTACT <i class="far fa-paper-plane"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="boxA">
            <div class="box3">
                <article class="review_list">
                    <section>
                        <h1>口コミ一覧</h1>
                        <p>
                            <a href="{{constant('shop\\Bootstrap::ENTRY_URL')}}review_regist.php">口コミを書く</a><span class="red">※</span>商品購入を行なった方のみ、記入頂けます<br>
                        </p>
                        <div class="review">
                        {% for value in dataArr %}
                            <div>{{value.nickname}}さん &nbsp;　{{value.regist_date}}<br>
                            点数:{{value.score}}点 &nbsp; {% if value.entry == '1' %}商品について{% elseif value.entry == '2'  %}配送について{% elseif value.entry == '3'  %}その他{% endif  %}<br>
                            内容: {{value.contents}}<br>
                            </div><br>
                        {% endfor %}
                        </div>
                    </section>
                </article>
            </div>
            <div class="box4">
                <aside class="kuchi" >
                    <h1>口コミ <i class="far fa-thumbs-up"></i></h1>
                        {% for value in reviewArr %}
                        <p>{{value.nickname}}さん &nbsp; {{value.regist_date}}<br>
                        点数:{{value.score}}点 &nbsp; {% if value.entry == '1' %}商品について{% elseif value.entry == '2'  %}配送について{% elseif value.entry == '3'  %}その他{% endif  %}<br>
                        内容: {{value.contents}}<br>
                        </p>
                        {% endfor %} 
                </aside>

                <aside class="ninki" >
                    <h1>人気商品 <i class="fas fa-crown"></i></h1>
                </aside>
            </div>
        </div>

        <div class="box5">
            <div class="box5_inner">
                <div class="copyright">
                    <p>このサイトは栃木県日光市の観光情報サイトです。鬼怒川温泉・今市・日光方面に情報提供します。</p>
                    <p>Copyright &copy; KINU NAVI</p>
                </div>
            </div>
        </div>
    </body>
</html>
