<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>掲示板_DB_twig版</title>
    </head>
    <body>
        <form method="post" action="">
            <table>
                <tr>
                    <th>名前</th>
                    <td><input type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <th>コメント</th>
                    <td><textarea name="contents" rows="4" cols="20"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="send" value="書き込む" /></td>
                </tr>
            </table>
        </form>
        {%if msg | length > 0 %}<p>{{msg}}</p>{% endif %}
        {%if err_msg | length > 0 %}<p style="color:#f00;">{{err_msg}}</p>{% endif %}
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>名前</th>
                <th>コメント</th>
            </tr>
            <!-- phpで書くとこんな感じ→foreach( $data as $key=>$value) -->
            {% for key , value in data %}
            <tr>
                <td>{{value.id}}</td>
                <td>{{value.name}}</td>
                <td>{{value.contents|nl2br }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

